{% extends "base.html" %}

<!-- Left Part -->
{% block bodyleft %}

  <!-- Text input field -->
  <form action="/" method="POST">
    <div class="form-group">
      <label for="SourceTextArea">Enter your text here:</label>
      <textarea class="form-control" id="SourceTextArea" name="text" rows="5"
                placeholder="Paste your text here..." >
        {{ source }}
      </textarea>
      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </div>
  </form>

  <!-- Sample of processed text -->
  <form action="/" method="GET">
    <div class="form-group">
      <label for="ResultTextArea">Sample of processed text:</label>
      <textarea class="form-control" id="ResultTextArea" rows="5">
        {{ result }}
      </textarea>
      <button type="submit" class="btn btn-primary float-right" >Download</button>
    </div>
  </form>

{% endblock %}
