{% extends "base.html" %}

{% from "formshelper.html" import render_field %}

<!-- Left Part -->
{% block bodyleft %}

  <!-- Text fields -->
  <div class="container">
    <form action="/" method="post">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <dl>
        <dt>Enter or paste URL or text (max 1000 symbols):</dt>
        <dd>{{ form.input }}</dd>
        <dd>{{ form.subm() }}</dd>
        <dt>Sample of the processed text:</dt>
        <dd>{{ form.outp }}</dd>
        <dd>{{ form.down() }}</dd>
      </dl>
    </form>
  </div>

{% endblock %}
