<h1>Text processing online tool.</h1>
<h2>How to use the tool:</h2>
<p>Upload text file or copy-paste your text into the 'Input' window.</p>
<p>Select options that suit your needs for text processing.</p>
<p>Downlod processed file.</p>
<h2>Cleaning options:</h2>
<table>
<thead>
<tr>
<td>Name of the feature</td>
<td>Example</td>
<td>Default</td>
</tr>
</thead>
<tbody>
<tr>
<td>Remove tag attributes</td>
<td>(except <strong>img</strong>-<em>src</em> and <strong>a</strong>-<em>href</em>)</td>
</tr>
<tr>
<td>Remove inline styles</td>
<td>You <strong>should never</strong>&nbsp;use inline styles!</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Remove classes and IDs</td>
<td>Use classes to <strong>style everything</strong>.</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Remove all tags</td>
<td>This leaves <strong>only the plain</strong> <em>text</em>. <img src="images/smiley.png" alt="laughing" width="16" height="16" /></td>
</tr>
<tr>
<td>Remove successive &amp;nbsp;s</td>
<td>Never use non-breaking spaces to set margins.</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Remove empty tags</td>
<td>Empty tags should go!</td>
</tr>
<tr>
<td>Remove tags with one &amp;nbsp;</td>
<td>This makes&nbsp;no sense!</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Remove span tags</td>
<td>Span tags with all styles</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Remove images</td>
<td>I am an image: <img src="images/smiley.png" alt="laughing" /></td>
</tr>
<tr>
<td>Remove links</td>
<td><a href="https://html-online.com">This is</a> a link.</td>
</tr>
<tr>
<td>Remove tables</td>
<td>Takes everything out of the table.</td>
</tr>
<tr>
<td>Replace table tags with structured divs</td>
<td>This text is inside a table.</td>
</tr>
<tr>
<td>Remove comments</td>
<td>This is only visible in the source editor</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Encode special characters</td>
<td>&hearts; <strong>☺ ★</strong> &gt;&lt;</td>
<td><strong>x</strong></td>
</tr>
<tr>
<td>Set new lines and text indents</td>
<td>Organize the tags in a nice tree view.</td>
</tr>
</tbody>
</table>
<p><strong>Save this link into your bookmarks and share it with your friends. It is all FREE!</strong></p>
<p>Got it<br />&nbsp;</p>